.transaction {
  display: flex;
  border: 1px solid rgb(199, 199, 199);
  border-left: none;
}

.category-code {
  border-left: none;
  border-right: none;
  height: 50px;
  width: 5px;
  margin-right: 20px;
}

.transaction-date {
  font-size: 14px;
  font-weight: lighter;
  display: flex;
  align-items: center;
  color: rgb(41, 41, 41);
}

.merchant-logo {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

img {
  height: 35px;
}

.transaction-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.transaction-type {
  font-size: 14px;
  color: rgb(41, 41, 41);
}

.amount {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 15px;
}


@media only screen and (max-width: 800px) {
  img {
    display: none;
  }
  .merchant-logo{

    margin-left: 10px;
    margin-right: 10px;
  }
  .amount{
    font-size: 13px;
  }

  .merchant{
    width: 100px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;

  }

  .transaction-date{
    font-size: 13px;
  }

}
