.bg {
  background-image: url(../../assets/images/background/background.jpg);
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
